* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 62.5%;
  min-height: 100vh;
  background: url('./sw-bg.jpg') no-repeat center/cover;
}

.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}

/* write your parent styles in here for your App.js */

.container {
  margin: 10px auto;
  width: 95%;
}

.main-header {
  text-align: center;
}

.main-header h1 {
  font-size: 3rem;
}

.footer {
  text-align: center;
  font-size: 2rem;
  color: white;
  padding: 1em;
}